*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
li {
  list-style: none;
}
.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 0;
}
form {
  width: 100%;
}
.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.form-control input,
button {
  padding: 5px;
}
button {
  cursor: pointer;
}
ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
section {
  margin-top: 1rem;
}
li {
  padding: 2rem;
  color: #2cda57;
  color: #3f96b1;
  outline: 1px solid rgb(161, 161, 161);
}
